# WHAT IS THE PURPOSE OF THIS PROJECT?

AdventureWorks2019 is a Microsoft sample database that allowed me to write SQL queries and utilize them to develop dashboards with two BI tools: Tableau and PowerBI. Each was used to create a portfolio that could showcase what I had learnt over time. 

While working on these I always wondered if it was possible to use Machine Learnig to extract inshights from the data that might have some meaning and thus increase the usefulness of the analysis. Over time I have always looked at ML with a certain curiosity trying to learn the basics of it, until I came across a python library that simplifies a lot of steps that lead to write an algorithm, that is able to work and give valid information: the library in question is called Pycaret.

The idea I had is to use the data on customers, extracted from the DB through a query, and try to divide them into clusters using an ML algorithm. For this purpose I will use Pycaret.

### What is Pycaret?

Pycaret is an OpenSource Python library, focused on AutoML. <br>
More on: https://pycaret.org/

## 1. Importing library and csv file

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import pycaret

In [2]:
#Adventure Works Customer Data
df = pd.read_csv('Customer.csv', sep=';')

In [3]:
#Backup
data=df

## 2. Data Cleaning

In [4]:
#Only some features are usefull
col=['Age','MaritalStatus','Gender','YearlyIncome','NumberChildrenAtHome','Education','Occupation','HouseOwner','NumberCarsOwned','YearsSinceFirstPurchase','CloseToStore']
df = df[col]

In [5]:
#Checking on Datatypes
df['YearlyIncome']=df['YearlyIncome'].astype(int)

## 3. Machine Learning

In [6]:
#Importing clustering libraries
from pycaret.clustering import *

In [7]:
#Some basic settings
cluster1 = setup(df, normalize=True, session_id=101)

## 4. Finding the best model

There are several types of clustering algorithms, let's run a few and compare parameters to find the best one.

In [8]:
kmeans = create_model('kmeans')

,Silhouette,Calinski-Harabasz,Davies-Bouldin,Homogeneity,Rand Index,Completeness
0,0.6376,58562.0103,0.4943,0,0,0

In [9]:
hclust = create_model('hclust')

,Silhouette,Calinski-Harabasz,Davies-Bouldin,Homogeneity,Rand Index,Completeness
0,0.6152,50186.2346,0.4704,0,0,0

In [10]:
dbscan = create_model('dbscan')

,Silhouette,Calinski-Harabasz,Davies-Bouldin,Homogeneity,Rand Index,Completeness
0,-0.0196,11.6619,3.0437,0,0,0

## 5. Merging cluster data into the original csv file.

I chose the model that used the 'kmeans' algorithm. The next step is to save the data into the csv file. Now, we have the original csv file but with a new feature: the cluster related to each customer.

In [11]:
result = assign_model(kmeans)

In [12]:
result.drop(['YearlyIncome'], axis=1,inplace=True)

In [13]:
df = data.merge(result)

In [14]:
df.to_csv('Cluster.csv', index=False)

## 6. BI Software

Now that I have the csv files related to each table of the database (the same used for the dasboards that can be found on this site) I use Tableau to go and see if actually these clusters have a meaning that can be useful to increase the value of a normal analysis.

### 6.1 Final Analysis

<img src="img/Weight.png" width="800px">

<img src="img/Profit.png" width="800px">

>The majority of the customers belong to clusters 3 and 0. Clusters 2 and 1 numerically make up a quarter of the total, but when we go to see how the four groups contribute to the total profits, the share of cluster 2 and 1 togheter, rises to about 33%. Thus, from a strictly profit share perspective, 3 clusters emerge instead of 4.

<img src="img/Education.png" width="800px">

<img src="img/Occupation.png" width="800px">

<img src="img/IncomeCategories.png" width="800px">

>Cluster 0 is the cluster with lower average incomes, probably related to the fact that here we find the largest number of employees in manual or clerical jobs. In the counterpoint, Clusters 2 and 1 seem to represent a type of clients employed in high income jobs. Finally, Cluster 3 seems to better represent the so-called middle class. <br>
Having established a hierarchy in terms of wealth, let's see if they have an effect on their buying habits and how it then reflects on company profits.

<img src="img/OrderQuantity.png" width="378px"><img src="img/SalesProfit.png" width="800px">

<img src="img/ProfitRatio.png" width="800px">

>Those in Cluster 0 buy more, much more than those in Cluster 2 or 1, yet despite this they are not the group that accounts for the majority share of profits. They are the majority group tied with Cluster 3, and like them they contribute a third of the total profits, despite buying more products. The "Profit Ratio" table helps us: we can consider the percentage value as the average mark-up of the products purchased by the various clusters; it is a simplification that indicates that, on average, those who are part of Cluster 0 could purchase more products with low added value than the others.<br> In the next images we can go and see what the various groups buy the most.

![](img/Cluster2.png)
![](img/Cluster1.png)
![](img/Cluster3.png)
![](img/Cluster0.png)

>Clusters 2 and 1 are in the "minority", yet they account for one-third of profits precisely by the fact that they seem, on average, to buy more expensive products that therefore contribute better to total profits for the company.

## 7. CONCLUSION

So to answer the initial question: would using an algorithm on the data collected from the database - before start developing a dashboard - actually, be helpful? <br>
Well, the graphs seem to tell us that the clusters actually manage to represent something that might be missed by looking at data stored in a common database, and that might be beneficial for a better analysis such that the extra working steps are justified.

In [15]:
!jupyter nbconvert --to html Cluster.ipynb

[NbConvertApp] Converting notebook Cluster.ipynb to html
[NbConvertApp] Writing 609779 bytes to Cluster.html